@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-XFjsGNay3QLj_font-family: "Inter", sans-serif;
  --mixin-XFjsGNay3QLj_font-size: 14px;
  --mixin-XFjsGNay3QLj_font-weight: 400;
  --mixin-XFjsGNay3QLj_font-style: normal;
  --mixin-XFjsGNay3QLj_color: #535353;
  --mixin-XFjsGNay3QLj_text-align: left;
  --mixin-XFjsGNay3QLj_text-transform: none;
  --mixin-XFjsGNay3QLj_line-height: 1.5;
  --mixin-XFjsGNay3QLj_letter-spacing: normal;
  --mixin-XFjsGNay3QLj_white-space: pre-wrap;
  --mixin-XFjsGNay3QLj_user-select: text;
  --mixin-XFjsGNay3QLj_text-decoration-line: none;
  --mixin-XFjsGNay3QLj_text-overflow: clip;
  --mixin-YUI49vnkN2gT_color: #000000;
  --mixin-YUI49vnkN2gT_font-weight: 600;
  --mixin-YUI49vnkN2gT_font-size: 40px;
  --mixin-YUI49vnkN2gT_line-height: 1;
  --mixin-YUI49vnkN2gT_letter-spacing: -1px;
  --mixin-YUI49vnkN2gT_white-space: pre-wrap;
  --mixin-iIptomrZwpX4_color: #000000;
  --mixin-iIptomrZwpX4_font-size: 30px;
  --mixin-iIptomrZwpX4_font-weight: 600;
  --mixin-iIptomrZwpX4_line-height: 1.1;
  --mixin-iIptomrZwpX4_white-space: pre-wrap;
  --mixin-KaxDFxBY9J2N_color: #0070f3;
  --mixin-KaxDFxBY9J2N_white-space: pre-wrap;
  --mixin-LZSvy-5nw99h_color: #000000;
  --mixin-LZSvy-5nw99h_font-size: 24px;
  --mixin-LZSvy-5nw99h_font-weight: 600;
  --mixin-LZSvy-5nw99h_line-height: 1.2;
  --mixin-LZSvy-5nw99h_white-space: pre-wrap;
  --mixin-mGSScQnD00jx_color: #000000;
  --mixin-mGSScQnD00jx_font-size: 20px;
  --mixin-mGSScQnD00jx_font-weight: 600;
  --mixin-mGSScQnD00jx_line-height: 1.3;
  --mixin-mGSScQnD00jx_white-space: pre-wrap;
  --mixin-S_HhRsQCJYTA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-S_HhRsQCJYTA_border-bottom-color: #dddddd;
  --mixin-S_HhRsQCJYTA_border-bottom-style: solid;
  --mixin-S_HhRsQCJYTA_border-bottom-width: 1px;
  --mixin-S_HhRsQCJYTA_border-left-color: #dddddd;
  --mixin-S_HhRsQCJYTA_border-left-style: solid;
  --mixin-S_HhRsQCJYTA_border-left-width: 1px;
  --mixin-S_HhRsQCJYTA_border-right-color: #dddddd;
  --mixin-S_HhRsQCJYTA_border-right-style: solid;
  --mixin-S_HhRsQCJYTA_border-right-width: 1px;
  --mixin-S_HhRsQCJYTA_border-top-color: #dddddd;
  --mixin-S_HhRsQCJYTA_border-top-style: solid;
  --mixin-S_HhRsQCJYTA_border-top-width: 1px;
  --mixin-S_HhRsQCJYTA_border-bottom-left-radius: 3px;
  --mixin-S_HhRsQCJYTA_border-bottom-right-radius: 3px;
  --mixin-S_HhRsQCJYTA_border-top-left-radius: 3px;
  --mixin-S_HhRsQCJYTA_border-top-right-radius: 3px;
  --mixin-S_HhRsQCJYTA_font-family: "Inconsolata";
  --mixin-S_HhRsQCJYTA_padding-bottom: 1px;
  --mixin-S_HhRsQCJYTA_padding-left: 4px;
  --mixin-S_HhRsQCJYTA_padding-right: 4px;
  --mixin-S_HhRsQCJYTA_padding-top: 1px;
  --mixin-S_HhRsQCJYTA_white-space: pre-wrap;
  --mixin-fLSr_tsdLERZ_border-left-color: #dddddd;
  --mixin-fLSr_tsdLERZ_border-left-style: solid;
  --mixin-fLSr_tsdLERZ_border-left-width: 3px;
  --mixin-fLSr_tsdLERZ_color: #888888;
  --mixin-fLSr_tsdLERZ_padding-left: 10px;
  --mixin-fLSr_tsdLERZ_white-space: pre-wrap;
  --mixin--yCKRWaaC6oD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--yCKRWaaC6oD_border-bottom-color: #dddddd;
  --mixin--yCKRWaaC6oD_border-bottom-style: solid;
  --mixin--yCKRWaaC6oD_border-bottom-width: 1px;
  --mixin--yCKRWaaC6oD_border-left-color: #dddddd;
  --mixin--yCKRWaaC6oD_border-left-style: solid;
  --mixin--yCKRWaaC6oD_border-left-width: 1px;
  --mixin--yCKRWaaC6oD_border-right-color: #dddddd;
  --mixin--yCKRWaaC6oD_border-right-style: solid;
  --mixin--yCKRWaaC6oD_border-right-width: 1px;
  --mixin--yCKRWaaC6oD_border-top-color: #dddddd;
  --mixin--yCKRWaaC6oD_border-top-style: solid;
  --mixin--yCKRWaaC6oD_border-top-width: 1px;
  --mixin--yCKRWaaC6oD_border-bottom-left-radius: 3px;
  --mixin--yCKRWaaC6oD_border-bottom-right-radius: 3px;
  --mixin--yCKRWaaC6oD_border-top-left-radius: 3px;
  --mixin--yCKRWaaC6oD_border-top-right-radius: 3px;
  --mixin--yCKRWaaC6oD_font-family: "Inconsolata";
  --mixin--yCKRWaaC6oD_padding-bottom: 3px;
  --mixin--yCKRWaaC6oD_padding-left: 6px;
  --mixin--yCKRWaaC6oD_padding-right: 6px;
  --mixin--yCKRWaaC6oD_padding-top: 3px;
  --mixin--yCKRWaaC6oD_white-space: pre-wrap;
  --mixin-GfFg2dRL4-ze_display: flex;
  --mixin-GfFg2dRL4-ze_flex-direction: column;
  --mixin-GfFg2dRL4-ze_align-items: stretch;
  --mixin-GfFg2dRL4-ze_justify-content: flex-start;
  --mixin-GfFg2dRL4-ze_list-style-position: outside;
  --mixin-GfFg2dRL4-ze_padding-left: 40px;
  --mixin-GfFg2dRL4-ze_position: relative;
  --mixin-GfFg2dRL4-ze_list-style-type: disc;
  --mixin-GfFg2dRL4-ze_white-space: pre-wrap;
  --mixin-6biu8hUlBScX_display: flex;
  --mixin-6biu8hUlBScX_flex-direction: column;
  --mixin-6biu8hUlBScX_align-items: stretch;
  --mixin-6biu8hUlBScX_justify-content: flex-start;
  --mixin-6biu8hUlBScX_list-style-position: outside;
  --mixin-6biu8hUlBScX_padding-left: 40px;
  --mixin-6biu8hUlBScX_position: relative;
  --mixin-6biu8hUlBScX_list-style-type: decimal;
  --mixin-6biu8hUlBScX_white-space: pre-wrap;
  --mixin-QvjVw3awJyGJ_color: #000000;
  --mixin-QvjVw3awJyGJ_font-size: 16px;
  --mixin-QvjVw3awJyGJ_font-weight: 600;
  --mixin-QvjVw3awJyGJ_line-height: 1.5;
  --mixin-QvjVw3awJyGJ_white-space: pre-wrap;
  --mixin-yT23mMOhA8Iu_color: #000000;
  --mixin-yT23mMOhA8Iu_font-size: 14px;
  --mixin-yT23mMOhA8Iu_font-weight: 600;
  --mixin-yT23mMOhA8Iu_line-height: 1.5;
  --mixin-yT23mMOhA8Iu_white-space: pre-wrap;
  --mixin-Vh6bA_dVT4l2_color: #3291ff;
  --mixin-Vh6bA_dVT4l2_white-space: pre-wrap;
  --mixin-DpICcCvx079J_white-space: pre-wrap;
  --mixin-itkHntq-IAN1_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-XFjsGNay3QLj_font-family);
  font-size: var(--mixin-XFjsGNay3QLj_font-size);
  font-weight: var(--mixin-XFjsGNay3QLj_font-weight);
  font-style: var(--mixin-XFjsGNay3QLj_font-style);
  color: var(--mixin-XFjsGNay3QLj_color);
  text-align: var(--mixin-XFjsGNay3QLj_text-align);
  text-transform: var(--mixin-XFjsGNay3QLj_text-transform);
  line-height: var(--mixin-XFjsGNay3QLj_line-height);
  letter-spacing: var(--mixin-XFjsGNay3QLj_letter-spacing);
  white-space: var(--mixin-XFjsGNay3QLj_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-YUI49vnkN2gT_color);
  font-weight: var(--mixin-YUI49vnkN2gT_font-weight);
  font-size: var(--mixin-YUI49vnkN2gT_font-size);
  line-height: var(--mixin-YUI49vnkN2gT_line-height);
  letter-spacing: var(--mixin-YUI49vnkN2gT_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-iIptomrZwpX4_color);
  font-size: var(--mixin-iIptomrZwpX4_font-size);
  font-weight: var(--mixin-iIptomrZwpX4_font-weight);
  line-height: var(--mixin-iIptomrZwpX4_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-KaxDFxBY9J2N_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-LZSvy-5nw99h_color);
  font-size: var(--mixin-LZSvy-5nw99h_font-size);
  font-weight: var(--mixin-LZSvy-5nw99h_font-weight);
  line-height: var(--mixin-LZSvy-5nw99h_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-mGSScQnD00jx_color);
  font-size: var(--mixin-mGSScQnD00jx_font-size);
  font-weight: var(--mixin-mGSScQnD00jx_font-weight);
  line-height: var(--mixin-mGSScQnD00jx_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-S_HhRsQCJYTA_font-family);
  border-radius: var(--mixin-S_HhRsQCJYTA_border-top-left-radius)
    var(--mixin-S_HhRsQCJYTA_border-top-right-radius)
    var(--mixin-S_HhRsQCJYTA_border-bottom-right-radius)
    var(--mixin-S_HhRsQCJYTA_border-bottom-left-radius);
  padding: var(--mixin-S_HhRsQCJYTA_padding-top)
    var(--mixin-S_HhRsQCJYTA_padding-right)
    var(--mixin-S_HhRsQCJYTA_padding-bottom)
    var(--mixin-S_HhRsQCJYTA_padding-left);
  border-top: var(--mixin-S_HhRsQCJYTA_border-top-width)
    var(--mixin-S_HhRsQCJYTA_border-top-style)
    var(--mixin-S_HhRsQCJYTA_border-top-color);
  border-right: var(--mixin-S_HhRsQCJYTA_border-right-width)
    var(--mixin-S_HhRsQCJYTA_border-right-style)
    var(--mixin-S_HhRsQCJYTA_border-right-color);
  border-bottom: var(--mixin-S_HhRsQCJYTA_border-bottom-width)
    var(--mixin-S_HhRsQCJYTA_border-bottom-style)
    var(--mixin-S_HhRsQCJYTA_border-bottom-color);
  border-left: var(--mixin-S_HhRsQCJYTA_border-left-width)
    var(--mixin-S_HhRsQCJYTA_border-left-style)
    var(--mixin-S_HhRsQCJYTA_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-fLSr_tsdLERZ_color);
  padding-left: var(--mixin-fLSr_tsdLERZ_padding-left);
  border-left: var(--mixin-fLSr_tsdLERZ_border-left-width)
    var(--mixin-fLSr_tsdLERZ_border-left-style)
    var(--mixin-fLSr_tsdLERZ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--yCKRWaaC6oD_font-family);
  border-radius: var(--mixin--yCKRWaaC6oD_border-top-left-radius)
    var(--mixin--yCKRWaaC6oD_border-top-right-radius)
    var(--mixin--yCKRWaaC6oD_border-bottom-right-radius)
    var(--mixin--yCKRWaaC6oD_border-bottom-left-radius);
  padding: var(--mixin--yCKRWaaC6oD_padding-top)
    var(--mixin--yCKRWaaC6oD_padding-right)
    var(--mixin--yCKRWaaC6oD_padding-bottom)
    var(--mixin--yCKRWaaC6oD_padding-left);
  border-top: var(--mixin--yCKRWaaC6oD_border-top-width)
    var(--mixin--yCKRWaaC6oD_border-top-style)
    var(--mixin--yCKRWaaC6oD_border-top-color);
  border-right: var(--mixin--yCKRWaaC6oD_border-right-width)
    var(--mixin--yCKRWaaC6oD_border-right-style)
    var(--mixin--yCKRWaaC6oD_border-right-color);
  border-bottom: var(--mixin--yCKRWaaC6oD_border-bottom-width)
    var(--mixin--yCKRWaaC6oD_border-bottom-style)
    var(--mixin--yCKRWaaC6oD_border-bottom-color);
  border-left: var(--mixin--yCKRWaaC6oD_border-left-width)
    var(--mixin--yCKRWaaC6oD_border-left-style)
    var(--mixin--yCKRWaaC6oD_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-GfFg2dRL4-ze_display);
  flex-direction: var(--mixin-GfFg2dRL4-ze_flex-direction);
  align-items: var(--mixin-GfFg2dRL4-ze_align-items);
  justify-content: var(--mixin-GfFg2dRL4-ze_justify-content);
  list-style-position: var(--mixin-GfFg2dRL4-ze_list-style-position);
  padding-left: var(--mixin-GfFg2dRL4-ze_padding-left);
  position: var(--mixin-GfFg2dRL4-ze_position);
  list-style-type: var(--mixin-GfFg2dRL4-ze_list-style-type);
  flex-column-gap: var(--mixin-GfFg2dRL4-ze_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-6biu8hUlBScX_display);
  flex-direction: var(--mixin-6biu8hUlBScX_flex-direction);
  align-items: var(--mixin-6biu8hUlBScX_align-items);
  justify-content: var(--mixin-6biu8hUlBScX_justify-content);
  list-style-position: var(--mixin-6biu8hUlBScX_list-style-position);
  padding-left: var(--mixin-6biu8hUlBScX_padding-left);
  position: var(--mixin-6biu8hUlBScX_position);
  list-style-type: var(--mixin-6biu8hUlBScX_list-style-type);
  flex-column-gap: var(--mixin-6biu8hUlBScX_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-QvjVw3awJyGJ_color);
  font-size: var(--mixin-QvjVw3awJyGJ_font-size);
  font-weight: var(--mixin-QvjVw3awJyGJ_font-weight);
  line-height: var(--mixin-QvjVw3awJyGJ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-yT23mMOhA8Iu_color);
  font-size: var(--mixin-yT23mMOhA8Iu_font-size);
  font-weight: var(--mixin-yT23mMOhA8Iu_font-weight);
  line-height: var(--mixin-yT23mMOhA8Iu_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Vh6bA_dVT4l2_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
